extends general/layout

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    include general/theme-list
    include general/topics-list
    - var publications = data
    include general/preview-list